*{
	font-family: Open Sans, sans-serif;
}

body{
	background-color: #d61353;
}

h1{
	font-size: 80px;
	color: #fff;
	font-weight: lighter;
}

h2{
	font-size: 30px;
	color:#000;
	font-weight: lighter;
	text-align: right;
}

h3{
	color: white;
	font-size: 22px;
}

.title{
	float: right;
	line-height: 4px;
	margin-top: 50px;
	padding-right: 20%;
	clear: both;
	max-width: 100%;
}

ul{
	display: inline;
}
li{
	display: inline;
}

#logo{
	max-width: 70px;
	float: left;
	padding: 15px;
}

nav{
	background-color: purple;
	border-radius: 50px;
	max-width: 90%;
	color:white;
	font-size: 17px;
	font-weight: lighter;
	display: flex;
    justify-content:space-around;
    padding: 10px;
    box-shadow: 10px 13px 37px -12px rgba(0,0,0,0.75);
    margin-top: 30px;
}

a{
	text-decoration: none;
	color:white;
}

p,.goButton, #resetButton{
	clear:both;
	color:white;
}

#userInput{
	font-size: 20px;
	text-align: center;
	padding-top: 200px;
	max-width: 100%;

}

.goButton, #resetButton{
	max-width: 100px;
	background-color: purple;
	padding: 20px;
	border: none;
	margin-left: 30px;
	border-radius: 40px;
	box-shadow: 11px 9px 52px -15px rgba(0,0,0,0.75);
}


#results{
	font-size: 16px;
}
#twitter{
	max-width: 30px;
}

select{
	position: relative;
	border-color: #f9cada;
	background-color:#d61353;
	color: white;
	height: 35px;
	text-align: center;
}



#howto{
	text-align: center;
	max-width: 70%;
	margin: auto;
	margin-top: 250px;
}

#howto a{
	color:black;
	text-decoration: underline;
}

p strong{
	color:black;
}

#resultDiv{
	text-align: left;
	padding-left: 30px;
}
#resultDiv a{
	color: black;
}

#resultDiv p{
	padding-left: 30px;
}

#but{
	max-width: 200px;
	margin: auto;
	align-content: center;
	position: relative;
	left:20px;
}

footer{
	color:white;
	text-align: center;
	clear:both;
	margin-top: 130px;
}

footer a{
	text-decoration: underline;
}

select{
	width: 200px;
	border-radius: 45px;
}


#resultDiv img{
	max-width: 170%;
	padding-bottom: 20px;
	padding-top: 20px;
	clear: both;
	padding-left: none;
}

#support{
	float: right;
	clear: both;
	position: relative;
	text-align: right;
}

#support img{
	padding: 20px;
}
#kofi,#paypal,#patreon{
	display: inline-flex;
	max-width:200px;
	height: 200px;
	padding:20px;
	text-align: center;
}

#paypal img{
	position: relative;
	top:4%;
}

@media only screen and (max-width: 650px){
	nav{
		display: flex;
	}
	.title{
		margin: auto;
	}
	h1{
		font-size: 40px;
	}
	h2{
		font-size: 17px;
	}
}
